@media  screen and (max-width: 576px) {
    .nav-main{
        flex-direction: column;
    }
    .nav-right{
        flex-direction: column;
    }
    header{
        box-shadow: none;
    }
    .banner{
        background: none;
        width: 90%;
        height: auto;
        margin: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content {
        width: 90%;
        /* background-image: url("../images/Group-14.png"); */
        /* background-repeat: no-repeat; */
        background-position: start;
        /* background-size: 100% 100%; */
        text-align: start;
        align-items: center;
    }
    .banner-content h3{
        font-size: 2rem;
    }
    .banner-content h1{
        font-size: 4rem;
        line-height: 80px;
    }
    .banner-btn-rogue, .banner-btn-sign{
        margin-right: 0;
    }
    .gamer-section {
        background: none;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-image{
        width: 80%;
    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-content{
        width: 80%;
        text-align: center;
    }
    .gamer-content p {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 32px;
    }
    .gamer-content h5 {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .gamer-content h4 {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .online-section{
        width: 80%;
    }
    .online-heading{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .online-description{
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .online-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .online-card > p{
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
    }
    .play-section{
        max-width: 80%;
        margin: 0 auto;
    }
    .play-container{
        flex-direction: column;
    }
    .play-content, .play-content-2 {
        width: 355px;
        text-align: center;
        margin-left: 0;
    }
    .play-image, .play-image-2{
        width: 100%;
    }
    .play-image > img{
        width: 85%;
        margin-top: 80px;
        margin-left: 60px;
    }
    .image-overlay img {
        width: 150px;
        position: absolute;
        top: -135px;
        left: 138px;
    }
    .play-content-2 p {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 30px;
    }
    .play-image-2{
        margin-top: 80px;
    }
    .play-image-2 > img{
        width: 85%;
        position: absolute;
        left: -20px;

    }
    .image-overlay-2  img {
        width: 150px;
        position: absolute;
        top: -245px;
        right: 145px;
    }
    .box-2{
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .play-container-2{
        display: flex;
        flex-direction: column-reverse;
    }
    .careers-section{
        margin-top: 400px;
    }
    .careers-container{
        flex-direction: column;
        width: 85%;
    }
    .careers-content, .careers-image{
        width: 100%;
    }
    .careers-description{
        width: 100%;
    }
    .careers-btn {
        margin-top: 40px;
        background-color: #fff;
        color: rgb(249, 72, 178);
        font-size: 0.8rem;
        margin-bottom: 70px;
        font-weight: 600;
        border: none;
        border-radius: 48px;
        padding: 15px 25px;
        -webkit-border-radius: 48px;
        -moz-border-radius: 48px;
        -ms-border-radius: 48px;
        -o-border-radius: 48px;
    }
    .careers-image img{
        width: 100%;
    }
    .category-section{
        width: 100%;
    }
    .category-container{
        gap: 5px;
    }
    .category-content{
        width: 130px;
        padding: 5px;
    }
    .category-content img{
        width: 30px;
    }
    .category-content p{
        font-size: 8px;
    }
    .footer-container{
        width: 85%;
    }
    .footer-content{
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-content p{
        padding-right: 37px;
        margin-bottom: 30px;
    }
    .social-icon{
        width: 100%;
        flex-wrap: wrap;
    }
    .social-icon i {
        width: 58px;
        margin-left: 17px;
        margin-bottom: 60px;
    }
    .footer-content-2{
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-content-2 p {
        color: rgba(255, 255, 255, 0.6);
        padding-right: 25px;
        font-size: 16px;
        margin-bottom: 28px;
    }
    .copyright {
        margin: 0 auto;
        width: 258px;
        font-size: 1rem;
    }
    .copyright p{
        text-align: center;
    }
}